In [ ]:
import pandas as pd
import numpy as np

# Load Data

In [ ]:
df=pd.read_csv('Global Missing Migrants Dataset.csv')

In [ ]:
df.head()

,Incident Type,Incident year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number of Dead,Minimum Estimated Number of Missing,Total Number of Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Migration route,Location of death,Information Source,Coordinates,UNSD Geographical Grouping
0,Incident,2014,January,Central America,North America,Guatemala,1.0,0,1,0,0,1,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",Northern America
1,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,0,0,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",Northern America
2,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,0,0,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",Northern America
3,Incident,2014,January,Central America,North America,Mexico,1.0,0,1,0,0,1,0,Violence,US-Mexico border crossing,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",Northern America
4,Incident,2014,January,Northern Africa,Europe,Sudan,1.0,0,1,2,0,1,0,Harsh environmental conditions / lack of adequ...,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",Northern Europe

In [ ]:
df.shape

(13020, 19)

# Clean Data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13020 entries, 0 to 13019
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Incident Type                        13020 non-null  object
 1   Incident year                        13020 non-null  int64
 2   Reported Month                       13020 non-null  object
 3   Region of Origin                     12998 non-null  object
 4   Region of Incident                   13020 non-null  object
 5   Country of Origin                    13012 non-null  object
 6   Number of Dead                       12470 non-null  float64
 7   Minimum Estimated Number of Missing  13020 non-null  int64
 8   Total Number of Dead and Missing     13020 non-null  int64
 9   Number of Survivors                  13020 non-null  int64
 10  Number of Females                    13020 non-null  int64
 11  Number of Males                      13020 non-null  int64
 12  Number of Children                   13020 non-null  int64
 13  Cause of Death                       13020 non-null  object
 14  Migration route                      9999 non-null   object
 15  Location of death                    13020 non-null  object
 16  Information Source                   13012 non-null  object
 17  Coordinates                          12984 non-null  object
 18  UNSD Geographical Grouping           13019 non-null  object
dtypes: float64(1), int64(7), object(11)
memory usage: 1.9+ MB

In [ ]:
df.isnull().sum()

Incident Type                             0
Incident year                             0
Reported Month                            0
Region of Origin                         22
Region of Incident                        0
Country of Origin                         8
Number of Dead                          550
Minimum Estimated Number of Missing       0
Total Number of Dead and Missing          0
Number of Survivors                       0
Number of Females                         0
Number of Males                           0
Number of Children                        0
Cause of Death                            0
Migration route                        3021
Location of death                         0
Information Source                        8
Coordinates                              36
UNSD Geographical Grouping                1
dtype: int64

In [ ]:
df['Region of Origin']=df['Region of Origin'].fillna(df['Region of Origin'].mode()[0])
df['Country of Origin']=df['Country of Origin'].fillna(df['Country of Origin'].mode()[0])
df['Information Source']=df['Information Source'].fillna(df['Information Source'].mode()[0])
df['Number of Dead']=df['Number of Dead'].fillna(df['Number of Dead'].mean())
df['Migration route']=df['Migration route'].fillna(df['Migration route'].mode()[0])

In [ ]:
df['Number of Dead']=df['Number of Dead'].astype(int)

In [ ]:
df['Number of Dead']

0         1
1         1
2         1
3         1
4         1
         ..
13015     4
13016     2
13017    13
13018     6
13019    16
Name: Number of Dead, Length: 13020, dtype: int64

In [ ]:
df.isnull().sum()

Incident Type                           0
Incident year                           0
Reported Month                          0
Region of Origin                        0
Region of Incident                      0
Country of Origin                       0
Number of Dead                          0
Minimum Estimated Number of Missing     0
Total Number of Dead and Missing        0
Number of Survivors                     0
Number of Females                       0
Number of Males                         0
Number of Children                      0
Cause of Death                          0
Migration route                         0
Location of death                       0
Information Source                      0
Coordinates                            36
UNSD Geographical Grouping              1
dtype: int64

In [ ]:
df['Coordinates']=df['Coordinates'].fillna(df['Coordinates'].mode()[0])
df['UNSD Geographical Grouping']=df['UNSD Geographical Grouping'].fillna(df['UNSD Geographical Grouping'].mode()[0])

In [ ]:
df.columns

Index(['Incident Type', 'Incident year', 'Reported Month', 'Region of Origin',
       'Region of Incident', 'Country of Origin', 'Number of Dead',
       'Minimum Estimated Number of Missing',
       'Total Number of Dead and Missing', 'Number of Survivors',
       'Number of Females', 'Number of Males', 'Number of Children',
       'Cause of Death', 'Migration route', 'Location of death',
       'Information Source', 'Coordinates', 'UNSD Geographical Grouping'],
      dtype='object')

In [ ]:
df['Minimum Estimated Number of Missing'] = df['Minimum Estimated Number of Missing'].apply(lambda x: np.nan if x < 0 else x)

In [ ]:
df['Minimum Estimated Number of Missing'].min()

0.0

In [ ]:
df['Minimum Estimated Number of Missing']=df['Minimum Estimated Number of Missing'].fillna(df['Minimum Estimated Number of Missing'].mean())
df['Minimum Estimated Number of Missing']=df['Minimum Estimated Number of Missing'].astype(int)

In [ ]:
df['Number of Survivors'] = df['Number of Survivors'].apply(lambda x: np.nan if x < 0 else x)
df['Number of Survivors'].min()

0.0

In [ ]:
df['Number of Survivors']=df['Number of Survivors'].fillna(df['Number of Survivors'].mean())
df['Number of Survivors']=df['Number of Survivors'].astype(int)

In [ ]:
df.to_csv("Global Missing Migrants Dataset.csv", index=False)

In [ ]:
from google.colab import files
files.download("Global Missing Migrants Dataset.csv")